{
    "passPerPreset": true,
    "plugins": [
        "react-hot-loader/babel",
        "transform-runtime"
    ],
    "presets": [
        {
            "plugins": [
                "./build/babelRelayPlugin"
            ]
        },
        "react",
        "es2015",
        "stage-0"
    ]
}
