{
    "passPerPreset": true,
    "plugins": [
        "relay",
        "react-hot-loader/babel",
        "transform-runtime"
    ],
    "presets": [
        "react",
        [
            // disable transpiling modules
            // https://github.com/gaearon/react-hot-loader
            "es2015",
            {
             //   "modules": false
            }
        ],
        "stage-0"
    ]
}
