/* this file will be used by react-app-rewired when running jest */
{
    // only needed for starting the graphql proxy server, and
    // running jest per react-app-rewired
    "plugins": [
        /* needed for running jest, */
        "relay",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-json-strings"
    ],
    "presets": [
        "@babel/preset-env"
    ]
}
