/coverage
.gitignore
.git
.idea
node_modules
.DS_Store
npm-debug.log
/circle.yml
README.md
.codeclimate.yml
.editorconfig
.env
.env.example
.eslintignore
.eslintrc.js
.nodemon.json
.nvmrc
.prettierrc
_config.yml
renovate.json

/.circleci

.prettierrc
.nodemon.json
.gitignore
test-reports/
build/

