/coverage
.gitignore
.git
.idea
node_modules
server/node_modules
.DS_Store
npm-debug.log
/.codeclimate.yml
README.md
.editorconfig
.env
.env.example
.eslintignore
.eslintrc.js
.nodemon.json
.nvmrc
.prettierrc
_config.yml
renovate.json

/.circleci

test-reports/
build/

server/node_modules/

