# Logs
*.log

/coverage/

# dependencies
node_modules/

# next.js
/.next/
next-env.d.ts

# generated output
test-reports
public/story-book

# misc
.DS_Store
.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Local Netlify folder
.vercel

# yarn2 (berry)
#
# not using Zero-Installs
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.pnp.js
/.pnp
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
