.contextLogo {
    display: inline;
    vertical-align: top;
}

.statusLine {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commit_avatar {
    display:inline;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}
