.level {
    justify-content: start;
}

.contextlogo {
    verticalAlign: top;
}

.statusicon {
    vertical-align: top;
    margin-left: -0.5em;
    margin-top: -0.5em;
    padding-right: 0.25em;
    background: white;
    z-index: 4;
}
