/* this file will be used by react-app-rewired when running jest */
{
    "presets": [
        "env",
        "stage-3",
        "react"
    ],
    "plugins": [
        "relay",
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}
