.statusLine {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    i {
        text-wrap: nowrap;
    }
}

.committer {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

.commit_avatar {
    display: inline;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}
